
@{
    Layout = "~/Views/Shared/_BackAdmin.cshtml";
    ViewBag.Title = "Index";
}
<div class="container-fluid cm-container-white">
    <h2 style="margin-top:0;">Project Management System　紹介 !</h2>
    <p>簡単説明：Dev By VS2019 SQL & Server2019 </p>
</div>
<div class="container-fluid">
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">メンテナンス</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">お知らせ</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共施設</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">メンテナンス</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">お知らせ</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共施設</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="row cm-fix-height">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">メンテナンス</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">お知らせ</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">公共施設</div>
                <div class="panel-body">
                    <address>
                        <strong>Twitter, Inc.</strong>
                        <br>
                        795 Folsom Ave, Suite 600
                        <br>
                        San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                    <address style="margin:0">
                        <strong>Full Name</strong>
                        <br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

